{% extends "::base.html.twig" %}



{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
    <div class="wrapper" class="form-group">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('forum_homepage') }}">Forum</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ id }}</li>
            </ol>
        </nav>
        <input type="text " id="myInput" name="table_search" class="form-control pull-right alert alert-info" placeholder="Search">
    <table>

        <th class="forum-topicsview-header" colspan="5"> Forums </th>


        <tr>
            <th class="">  </th>
            <th class="" style="text-align: left;"> Questions</th>

            <th class="forum-topics-col-views">Reponses</th>
            <th class="forum-topics-col-lastpost"> Dérniere Reponse </th>
        </tr>
        <tbody id="myTable">
        {% for r in questions  %}
            <tr class="forum-topicview-row">
                <td class="forum-topics-col-icon"> <i class="material-icons">chat_bubble</i> </td>
                <td class="">  <a  href="{{ path('affiche', {'id': r.question.id}) }}">{{ r.question.titre}}</h4> </a> </td>
                <td class="forum-topics-col-views">   {{r.nr }}</td>

                <td class="forum-topics-col-lastpost"> <p>Dérniere Reponse par: {% if r.der.date is defined %}{{ r.der.writer }}<br><b>
                            {{ r.der.date | date('Y-m-d\\TH:i:sP')}}




                            {% endif %}</b></p> </td>
            </tr>



        {% endfor %}
        </tbody>

        <tr>
            <th class="" colspan="5"> Smart Start</th>
        </tr>

    </table>

<br>

    </div>
{% endblock content %}